.home-wrapper{
    height: 95vh;
    background-color: rgb(235, 225, 225);
    display: flex;
    flex-direction: column;
    gap: 20px;
    h1{
        font-size: 24px;
        margin: 10px 10%;
    }
    .filter-wrapper{
        margin: 0px 10%;
        section{
            font-size: small;
            .shapes-btn{
                display: flex;
                gap: 20px;
                margin: 10px 0px;
                span{
                    border: 1px solid black;
                    border-radius: 5px;
                    padding: 2px 7px;
                }
            }
            .color-btn{
                display: flex;
                gap: 20px;
                margin: 10px 0px;
                span{
                    padding: 10px 10px;
                    border-radius: 100%;
                    &:nth-child(1){
                        background-color: red;
                    }
                    &:nth-child(2){
                        background-color: blue;
                    }
                    &:nth-child(3){
                        background-color: green;
                    }
                    &:nth-child(4){
                        background-color: yellow;
                    }
                    &:nth-child(5){
                        background-color: black;
                    }
                    &:nth-child(6){
                        background-color: gray;
                    }
                }
            }
        }
    }
}