.item-wrapper{
    display: flex;
    margin: 0 10%;
    flex-direction: column;
    p{
        font-size: 24px;
        padding: 10px;
    }
.item-container{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    overflow: scroll;
    height: 65vh;
    .not-found{
        font-size: 32px;
        align-self: center;
    }
    .item{
        height: 200px;
        width: 200px;
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        .oval{
            padding: 50px 35px;
            border-radius: 100%;
        }
        .rectangle {
            padding: 40px 60px;
        }
        .square{
            padding: 45px 45px;
        }
        .round{
            padding: 50px 50px;
            border-radius: 100%;
        }
        .triangle{
            height: 0px;
            width: 0px;
            background-color: transparent !important;
            border-bottom: 100px solid red;
            border-left: 80px solid transparent;
            border-right: 80px solid transparent;
        }
    }
}
}