.form-wrapper {
  height: 95vh;
  background-color: rgb(235, 225, 225);
  form {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    input{
        width: 250px;
        padding: 10px;
    }
    button{
        width: 250px;
        padding: 10px;
    }
  }
}
